body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
}
.form-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.logo {
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
width: 80px;
opacity: 0;
transition: all 0.8s ease-in-out;
z-index: -1;
}
.form-container:hover:not(:has(.button:hover)) .logo {
  top: -88px;
  opacity: 1;
}
/* From Uiverse.io by Praashoo7 */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.3em;
  background-color: #e9e9ecda;
  border-radius: 25px;
  transition: .4s ease-in-out;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  min-width: 400px;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid #dd9a05 !important;
}

#heading {
  text-align: center;
  margin: 1.5em;
  color: #dd9a05;
  font-size: 1.6em;
  font-weight: bold;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: black;
  background-color: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: black;
}

.form .btn {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-direction: row;
  margin-top: 2.5em;
  margin-bottom: 0.6em;
  width:100%;
}

.button1, .button2{
  flex: 1;
  padding: 0.5em;
  border-radius: 5px;
  border: none;;
  outline: none;
  transition: .4s ease-in-out;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: 150px;
}

.button1:hover, .button2:hover {
  background-color: #dd9a05;
  color: white;
}

.button3 {
  font-size: small;
  margin-bottom: 2.1em;
  text-decoration: underline 2px;
  background-color: transparent;
  color: black;
}

.button3:hover {
  color: #dd9a05;
}

a {
  text-decoration: none;
}
.btn{
  border: none !important;
}
.button {
  pointer-events: auto;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  z-index: 1000;
}

.button:before {
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button:hover:before,
.button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover:after,
.button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: black;
  transition: fill 0.4s ease-in-out;
}

.button:hover .button-box,
.button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}
.button:hover .button-elem,
.button:focus .button-elem {
    fill: #dd9a05;
}